/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*  { 
  box-sizing: border-box;
}*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 0 auto;
  font-family: Open Sans, sans-serif;
  color: #e2e3ed;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*----------------Base Header - Footer Styles-------------------------------*/

/*---------------------------------Header Styles-----------------------------*/

header {
  display: flex;
  justify-content: center;
  background-color: #202322;
  padding: 15px;
}

header .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

header nav {
  display: flex;
  width: 30%;
}

header nav ul {
  display: flex;
  width: 100%;

  justify-content: space-evenly;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

nav ul li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
}

header .content-wrapper img {
  width: 100%;
}

header a {
  width: 30%;
}

/* --------------------------Footer Styles---------------------- */

footer {
  background-color: #202322;
  display: flex;
  justify-content: center;
}

.footer-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30%;
  justify-content: space-between;
  align-items: start;
  text-align: center;
  padding: 50px 0;
}

.footer-contact .contact .social {
  width: 20%;
}

address {
  font-style: normal;
}

/* .social { 
  grid-column: 3/4;
}
*/

/*---------------------------------General Styles-----------------------------*/

nav ul li a {
  color: #e2e3ed;
}

section.features {
  display: flex;
  justify-content: center;
  background-image: url(../unplugged-retreat-features.jpg);
  background-size: cover;
}
/* height: 700px; */
/* /* padding: 50px 0;  */

.features.content-wrapper .features-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5%;
  column-gap: 5.5%;
  width: 80%;
  margin: 0 auto;
}

article {
  justify-items: center;
}

article .features-item-description {
  text-align: center;
  color: #e2e3ed;
}

p {
  font-size: 18px;
  line-height: 28px;
}

.hero-area {
  display: flex;
  justify-content: center;
  background-image: url(../unplugged-retreat.jpg);

  background-size: 100%;
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 500px;
  padding: 0 15px;
}

.hero-area .content-wrapper {
  display: flex;
  justify-content: left;
}

/* .hero-area h1 { 
  font-size: 36px;
  font-family: Poppins, Helvetica, Arial, sans-serif;
}
*/

aside {
  display: flex;
  justify-content: center;
  background-color: #527158;
  padding: 30px 0;
}

aside .content-wrapper {
  display: flex;
  gap: 20%;

  justify-content: space-between;
  align-items: flex-start;
}

input[type="text"],
input[type="button"] {
  width: 100%;
  height: 50px;
}

input[type="text"] {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  text-indent: 15px;
  font-weight: 500;

  padding: 0;
  margin-bottom: 20px;

  border: none;
}

input[type="button"] {
  background-color: #2a423a;
  font-size: 18px;
  text-transform: uppercase;
  color: #e2e3ed;
  border: none;
}

h3,
h4 {
  font-size: 30px;
  font-family: Poppins, sans-serif;
}

section.reviews {
  background-color: #2a423a;
  padding: 30px 15px;
  display: flex;
  justify-content: center;
}

.reviews .content-wrapper article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  padding: 50px 0;
  align-items: start;
}

.reviews h2 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
}

.reviews img {
  width: 100%;
}

.bottling-co h3 {
  margin: 0;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 48em) {
  /* Style adjustments for viewports that meet the condition */

  /* Desktop styles */

  .content-wrapper {
    width: 960px;
  }

  .hero-area {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-area h1 {
    font-size: 60px;
  }

  aside {
    padding: 50px 15px;
  }

  aside .content-wrapper {
    padding-bottom: 20px;
  }

  .form {
    width: 40%;
  }

  .form-description {
    width: 40%;
  }

  section.features {
    padding: 50px 15px;
  }

  .features .content-wrapper {
    display: flex;

    flex-direction: column;
    row-gap: 30px;
    color: #e2e3ed;
    font-size: 36px;
    font-family: Poppins, sans-serif;
  }

  .features .features-items {
    align-items: center;
  }
  .content-wrapper .features-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    column-gap: 5%;
  }

  article img {
    align-self: center;
  }

  h2 {
    font-size: 36px;
  }

  main section.faqs {
    display: flex;
    justify-content: center;
    background-color: #527158;
    padding: 0 50px;
  }

  .faqs .faq-section {
    padding-bottom: 100px;
  }

  .faq-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }

  .faqs h2 {
    padding: 50px 0;
    margin: 0;
  }

  .faq-questions {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .faq-questions h4 {
    font-size: 18px;
    line-height: 18px;
    text-align: left;
  }
}

/* **************Tablet Styles***************** */

@media only screen and (max-width: 48em) {
  header {
    padding: 25px 15px;
  }

  .content-wrapper {
    width: 640px;
  }

  .hero-area {
    background-size: cover;
    background-position: center;
  }

  .hero-area h1 {
    font-size: 48px;
    line-height: 48px;
  }

  aside {
    padding: 50px 15px;
  }

  .form {
    width: 40%;
  }

  .form-description {
    width: 40%;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
  }

  section.features {
    padding: 50px 15px;
    justify-content: center;
  }

  article .features-item-description {
    padding: 0 5%;
  }

  .content-wrapper .features-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
  }

  .reviews h2 {
    margin-bottom: 0;
  }

  .reviews img {
    align-self: center;
  }

  .reviews .content-wrapper article {
    column-gap: 2%;
  }

  input[type="button"] {
    font-size: 98%;
  }

  .bottling-co p {
    font-size: 14px;
    line-height: 20px;
  }

  main section.faqs {
    display: flex;
    justify-content: center;
    background-color: #527158;
    padding: 0 50px;
  }

  .faqs .faq-section {
    padding-bottom: 100px;
  }

  .faq-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }

  .faqs h2 {
    padding: 50px 0;
    margin: 0;
  }

  .faq-questions {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .faq-questions h4,
  p {
    font-size: 14px;
    line-height: 15.75px;
    text-align: left;
  }

  address p {
    font-style: normal;
    text-align: center;
  }

  .copyright p {
    text-align: center;
  }
}

/* **************Mobile Styles**************** */

@media only screen and (max-width: 30em) {
  header .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper {
    width: 90%;
  }

  header a {
    width: 70%;
    height: 40px;
  }

  header .content-wrapper img {
    width: 100%;
  }

  header nav {
    display: flex;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    padding-top: 15px;
  }

  .header-divider {
    border-bottom: 2px solid #3a3a3a;

    height: 15px;
    width: 100%;
  }

  .hero-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero-area h1 {
    font-size: 36px;
    line-height: 43px;
    font-weight: bold;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    padding-top: 45px;
    letter-spacing: -0.5px;
  }

  aside .content-wrapper {
    flex-direction: column;
  }

  aside .form-description {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  h3,
  h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
  }

  h2 {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    font-family: Poppins, sans-serif;
  }

  article {
    justify-items: center;
  }

  article .features-item-description {
    text-align: center;
    color: #e2e3ed;
    padding: 0 5%;
  }

  .features .content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #e2e3ed;
    font-size: 36px;
    font-family: Poppins, sans-serif;
    row-gap: 50px;
  }

  .features .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-direction: column;
    row-gap: 30px;
  }

  .features {
    display: flex;
    justify-content: center;
    background-image: url(../unplugged-retreat-features.jpg);
    background-size: cover;
    background-position: center;

    padding: 10px 0;
  }

  .fontawesom-icon {
    margin-bottom: 25px;
  }

  article .features-item-description {
    text-align: center;
    color: #e2e3ed;
    font-size: 14px;
    line-height: 18px;
  }

  section.reviews {
    padding: 15px 0;
  }

  .reviews .content-wrapper article {
    display: flex;
    flex-direction: column;

    row-gap: 20px;
    padding: 10px 0;
    align-items: start;
  }

  .reviews .content-wrapper {
    padding-bottom: 15px;
  }

  .reviews h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 10% 0;
    font-weight: 600;
  }

  .bottling-co h3 {
    padding-bottom: 15px;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .social {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .social-icons {
    display: flex;
    justify-content: space-evenly;
  }

  .copyright {
    padding-bottom: 10px;
  }

  .faq-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .faqs h2 {
    padding: 50px 0;
    margin: 0;
    line-height: 30px;
    font-size: 28px;
    font-weight: 600;

    font-family: Poppins, sans-serif;
  }

  .faq-questions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .faq-questions h4 {
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
  }

  .faqs .faq-section {
    padding-bottom: 50px;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
